<div class="explorer">
    <div class="lateralMenu">
        <div>
            <button title="Toggle Window"> < </button>
            <button title="Add Elements"> + </button>
            <button title="Templates/Prefabs"> T </button>
            <button title="Styles/Themes"> S </button>
            <button title="Render/Export/Save"> R </button>
        </div>
        
        <div>
            <button title="Return to website settings"> W </button>
            <button title="Editor settings"> S </button>
        </div>
    </div>

    <app-elements-explorer/>
    
</div>
