<app-top-menu></app-top-menu>

<div class="middle">
    <as-split [direction]="direction" gutterSize="5"  unit="percent">

        <div *asSplitGutter="let gutterNum = gutterNum;" class="custom-collapse-gutter">
            <!--<div asSplitGutterDragHandle class="custom-hand-gutter-icon"></div>-->
        </div>

            <as-split-area [size]="15" [minSize]="10" [maxSize]="75"> 
                <app-explorer></app-explorer>
            </as-split-area>
            

            <as-split-area [size]="70" [minSize]="10" >
                <app-editor-panel class="bg-red-500 w-full flex-1"></app-editor-panel>
            </as-split-area>
            

            <as-split-area [size]="15" [minSize]="10" [maxSize]="75">
                <app-inspector class="w-full"></app-inspector>
            </as-split-area>
        
    </as-split>
    
</div>

<app-bottom-menu></app-bottom-menu>